.ctEditFormButton{
	width:100% !important;
	display: block;
	margin-bottom:15px !important;
}

.OxfordSMSMobileMenu div{
width:100%;
}

/* SIDE BAR */
.OxfordSMS-ctCatalogRecordCount
{
}

#oxfordSMSPageHeader, #oxfordSMSPageHeader_Mobile{
	margin-top:15px;
}


#oxfordSMSDashboardMenu, #oxfordSMSDashboardCTToolBar, #oxfordSMSDashboardCTToolBar_Mobile{
	margin-top:24px;
}

#oxfordSMSDashboardMenu button, #oxfordSMSDashboardMenu_Mobile button, #oxfordSMSDashboardCTToolBar button, #oxfordSMSDashboardCTToolBar_Mobile button{
	
	min-height:35px;
	padding:2px 5px 2px 5px;
	margin-right:10px;
	text-align:left;
	word-wrap: break-word;
	white-space: normal;
	overflow-wrap: break-word;
	overflow: hidden;
}

#oxfordSMSDashboardMenu img,#oxfordSMSDashboardMenu_Mobile img,.oxfordSMSDashboardMenu_Mobile img, #oxfordSMSDashboardCTToolBar img,#oxfordSMSDashboardCTToolBar_Mobile img
{
	width:16px;
	height:16px;
	margin-right:10px;
}

#oxfordSMSDashboardCTSearchBoxes select,#oxfordSMSDashboardCTSearchBoxes_Mobile select, #oxfordSMSDashboardCTSearchBoxes input, #oxfordSMSDashboardCTSearchBoxes_Mobile input{
	width:100%;
	margin-bottom:15px;
}


/* end of the side bar */



/* Unset Bootstrap conflicting classes */

.btn, .btn-outline{
	all: unset;
	
/*	text-align:center;
	border-color: unset;
	
	box-shadow: unset;
	transition: unset;


	background-image: unset;
	background-repeat: unset;	
*/
	box-sizing: border-box;

}

.btn-primary{

background-color:#0366d6 !important;
}

input+.btn:hover{
background-color:#0366d6 !important;
}

input+.btn-success{
background-color:#92d782 !important;
}

input+.btn-success:hover{
background-color:#25970a !important;
}


.dropdown-menu{
	all: unset;
}

.well2{
	all: unset;
}

form{
	margin: unset;
}

label{
	margin-bottom: unset;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	
	padding-top: unset;
	padding-bottom: unset;
	margin-bottom: unset;
}


/* end of unset */

.avatar{
	width:20px;
	height:20px;
}
.componentheading, h2{
	font-size:2em;
	font-weight:bold;
}

#selectorBox{
	margin-bottom:10px;
}


#selectorBox h3 select{
	font-size:18px;
}
.pagination{
	text-align:center;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	
	height:30px;
}


.dashboard ul{
	margin-left:0;
}

.dashboard li{
	list-style:none;
}

.control-label, .control-label label{
	display: inline-block;
	text-align:left; /* to overwrite bootstrat 3.2 */
}


.controls2{
	display: inline-block;
}

Header{
	background-color: #103157 !important;
}

.menu-profilemenu span{
	vertical-align:middle;
}

.menu-profilemenu img{
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-right:5px;
}

.NavBreadcrumbs{
	margin-left:0px;
	display:inline-block;
}
.NavBreadcrumbs div{
	display:inline-block;
	margin-right:0;
}
.NavBreadcrumbs ul{
	margin-right:0;
	margin-left:0;
}

.NavBreadcrumbs li{
list-style:none;
}

.breadcrumb-none li{
	list-style:none;
}

.breadcrumb-none li:before{
	margin-left:10px;
	margin-right:6px;
	content: "/";
}

.breadcrumb-none li:first-child {
    display:none;
}

.dashboardmenusimple a
{
	display: none;

}


.dashboardmenuitembox{
	display: inline-block;
	margin:15px;
	text-align:center;
	
}

.dashboardmenuitembox img{

	text-align:center;
	
}

.dashboardmenuitembox button{
	
	width:150px;
	height:150px;
	text-align:center;
	
}
.dashboardmenuitembox p{
font-size:18px !important;
width:120px;
white-space:normal;
text-align:center;
}

.dashboardblock{
	text-align: center;
}

.dashboardblock .dashboardmenuitembox span{
font-size:18px !important;
width:120px;
white-space:normal;
display: block;
}

.dashboardmenuitembox img{
	width:64px;
	height:64px;
}


.leftSideFooter{
	position: absolute;
	bottom:10px;
	left:10px;
}
